/* -----------------------------
----------- Global -------------
----------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: whitesmoke;
    text-align: center;
    line-height: 120%;
    text-transform: uppercase;
    padding: 1em;
    font-size: 2em;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #11172c;
}

/* -----------------------------
------- Game Components --------
----------------------------- */
.bkgd {
    background: url(../images/milky-way.jpg);
    background-position: 100% 0;
    position: relative;
    margin: 0 auto;
    border-radius: 5em;
    animation: galaxyBg 6s alternate-reverse infinite;
    overflow: hidden;
}

.character {
    width: 25vmin;
    height: 25vmin;
    position: absolute;
    top: 12em;
    left: 12em;
    align-items: center;
    justify-content: center;
}

.ghost {
    width: 25vmin;
    height: 25vmin;
    position: absolute;
    top: 12em;
    right: 12em;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}

/* -----------------------------
-------- Typography ------------
----------------------------- */
.instructions {
    margin: 1em auto;
}

/* -----------------------------
---------- Buttons -------------
----------------------------- */
.btn {
    width: 12em;
    height: 3.5em;
    margin: 10px; 
    border-radius:25px; 
    padding: 12px 36px;
    cursor: pointer; 
    background-color:rgb(204, 33, 195); 
    text-align: center; 
    line-height: 25px; 
    color:white; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 14px;
    font-weight: 500;
}

.btn:hover{
    background-color: rgb(65, 150, 121);
}

.control{
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
}

/* -----------------------------
-------- Orientation -----------
----------------------------- */
@media (orientation:landscape) {
    .bkgd {
        width: 90vmin;
        height: 70vmin;
    }
}

@media (orientation:portrait) {
    .bkgd {
        width: 60vmin;
        height: 70vmin;
    }
}

/* -----------------------------
---------- Keyframes -----------
----------------------------- */
@keyframes galaxyBg {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}