/* -----------------------------
----------- Global -------------
----------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    line-height: 120%;
    padding: 1em;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #11172c;
}

/* -----------------------------
------- Game Components --------
----------------------------- */
.bkgd {
    background: url(../images/stars_in_space.png);
    background-position: 100% 0%;
    position: relative;
    margin: 0 auto;
    border-radius: 5em;
    animation: spaceBg 300s linear infinite;
    overflow: hidden;
}

.alien {
    width: 20vmin;
    height: 20vmin;
    position: absolute;
    top: 8em;
    left: 1em;
    align-items: center;
    justify-content: center;
}

.planet {
    width: 12vmin;
    height: 12vmin;
    position: absolute;
    top: 8em;
    right: 3em;
    align-items: center;
    justify-content: center;
}

/* -----------------------------
-------- Typography ------------
----------------------------- */
.instructions {
    font-size: 1.5em;
    margin: 2em auto 0.7em;
}

/* -----------------------------
---------- Buttons -------------
----------------------------- */
.btn {
    width: 7em;
    height: 3.5em;
    margin: 0.6em; 
    border-radius:1.7em; 
    padding: 0.75em 2em;
    cursor: pointer; 
    background-color:rgb(204, 33, 195); 
    text-align: center; 
    line-height: 25px; 
    color:white; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 0.85em;
    font-weight: 500;
    text-transform: uppercase;
}

.btn:hover{
    background-color: rgb(65, 150, 121);
}

.control{
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
}

/* -----------------------------
-------- Orientation -----------
----------------------------- */
@media (orientation:landscape) {
    .bkgd {
        width: 90vmin;
        height: 60vmin;
    }
}

@media (orientation:portrait) {
    .bkgd {
        width: 60vmin;
        height: 70vmin;
    }

    .alien {
        width: 30vmin;
        height: 30vmin;
    }

    .planet {
        width: 8vmin;
        height: 8vmin;
    }
}

/* -----------------------------
---------- Keyframes -----------
----------------------------- */
@keyframes spaceBg {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}