/* -----------------------------
----------- Global -------------
----------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(17 23 44);
    color: whitesmoke;
    text-align: center;
}

/* -----------------------------
------- Game Components --------
----------------------------- */
.bkgd {
    background: url(../images/stars_in_space.png);
    background-position: 100% 0%;
    position: relative;
    margin: 0 auto;
    border-radius: 5em;
    animation: spaceBg 300s linear infinite;
    overflow: hidden;
    width: 760px;
    height: 506px;
}

.alien {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 175px;
    left: 50px;
    align-items: center;
    justify-content: center;
    z-index:1;
}

.planet {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 175px;
    right: 50px;
    align-items: center;
    justify-content: center;
}

/* -----------------------------
-------- Typography ------------
----------------------------- */
h1 {
    font-size: 3em;
    margin: 1em auto 0;
}

.instructions, .hooray {
    font-size: 1.25em;
    margin: 0.5em auto 1.5em;
}

.hooray {
    justify-content: center;
    align-content: center;
}

/* -----------------------------
---------- Buttons -------------
----------------------------- */
.btn {
    width: 7em;
    height: 3.5em;
    margin: 0.6em; 
    border-radius:1.7em; 
    padding: 0.75em 2em;
    cursor: pointer; 
    background-color:rgb(105 242 231);
    text-align: center; 
    line-height: 25px; 
    color:rgb(17 23 44); 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 0.85em;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover{
    background-color: rgb(126, 150, 255);
}

.control{
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
}

/* -----------------------------
----------- Footer -------------
----------------------------- */
footer {
    padding: 1.2em auto;
}

/* -----------------------------
---------- Keyframes -----------
----------------------------- */
@keyframes spaceBg {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}